pyrofork
 tgcrypto 
 pymongo[srv]
 motor
 marshmallow
 umongo
 requests 
 bs4 
 git+https://github.com/Joelkb/cinemagoer 
 shortzy 
 datetime 
 pytz 
 aiohttp

#---master---# 
 #Telethroid
 PyLeaves
  
  
 #---others----# 
 opencv-python-headless
 python-dotenv
 speedtest
 humanize
 Pillow
 psutil
 NumPy 
 wheel 
 ujson 
 wget 
 pytz
 aiofiles
 dnspython
 ### googletrans
python-decouple
ffmpeg-python

jinja2
apscheduler
pyshorteners
pyromod
colorama



  
